<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hamago" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="site-header">
      <div class="header-container">
        <%= link_to "hamago", root_path, class: "header-logo" %>
        
        <nav class="header-nav">
          <%= link_to "行き先診断", new_spot_path, class: "nav-item" %>
          <%= link_to "スポット検索", search_spots_path, class: "nav-item" %>
          <%= link_to "マイページ", mypage_path, class: "nav-item" %>
        </nav>
      </div>
    </header>
    <div class="main-content">
      <%= yield %>
      </div>
     </body>
   </html>